<!-- Jetstrap static pages home view carousel begin -->
    <div id="myCarousel" class="carousel slide" data-pause="remove">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url('https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image1.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Take a course, leave a course.
              </h1>
              <p class="lead">
                You're the student and your the teacher at Ruby Community College.
              </p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image2.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Another example headline.
              </h1>
              <p class="lead">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                vehicula ut id elit.
              </p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image2.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                One more for good measure.
              </h1>
              <p class="lead">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                vehicula ut id elit.
              </p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
<!-- Jetstrap static pages home view carousel end -->
<!-- Jetstrap static pages home view marketing begin -->
    <div class="container marketing">
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            Heading
          </h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam
            id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta
            ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            Heading
          </h2>
          <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
            lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            Heading
          </h2>
          <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
            eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">
          First featurette headling.
          <span class="muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-left" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">
          And lastly, this one.
          <span class="muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
    </div>
<!-- Jetstrap static pages home view marketing begin -->      
