.bundle
db/*.sqlite3
db/test.sqlite3-journal
log/*.log
tmp/
.sass-cache/
.project
config/database.yml

# when the assets are compiled locally, ignore them
public/assets/

# application configs need to stay out of repo
config/application.yml

# we're only using the Procfile for local mac dev ATM
/Procfile.dev
