.bundle
db/*.sqlite3
db/test.sqlite3-journal
log/*.log
tmp/
.sass-cache/
.project
config/database.yml
app/assets/images/.DS_Store
elasticsearch-0.20.5.tar.gz
elasticsearch-0.20.5/

# when the assets are compiled locally, ignore them
public/assets/

# application configs need to stay out of repo
config/application.yml

# we're only using the Procfile for local mac dev ATM
/Procfile.dev
