.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.project
config/database.yml

# don't let sensitive info in the deploy.rb in the repo
config/deploy.rb

# when the assets are compiled locally, ignore them
public/assets/

# you are dead to me secret_token
config/initializers/secret_token.rb
