<h1>Wall</h1>
<p>Hello from the Wall Page at wall.html.erb </p>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
  </div>
