
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Study Plan Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
