div#search_results {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 312px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  position: absolute;
  z-index: 999;
  float: right;
  background-color: white;
  margin-top: 40px;
  padding: 0px;
  ul {
    margin: 0px;
  }
  li {
    border: 1px solid transparent;
    list-style: none;
    padding: 3px 10px;
    small {
      color: #666666;
      text-shadow: none;
    }
  }
  h4 {
    font-size: 14px;
    margin: 5px 0px 0px 0px;
  }
  li.active {
    background-color: #0F63BE;
    a {
      color: white;
      text-shadow: none;
    }
    small {
      color: #DDDDDD;
      text-shadow: none;
    }
  }
  li.search-item:hover {
    cursor: pointer;
  }
  li.search-item.active:last-child, li.search-item:last-child:hover {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

input#search {
  width: 300px;
}

input.spinner {
  background-image:url('/assets/loading.gif');
  background-position: 290px 6px;
  background-repeat:no-repeat;
}